In [2]:
import pandas as pd
df= pd.read_csv('df_earnings.csv')
df.head()

  symbol        date release_time
0   SFIX  2019-10-01          amc
1    MKC  2019-10-01          bmo
2   UNFI  2019-10-01          amc
3  SSNLF  2019-10-01           --
4  DNZOY  2019-10-01           --

In [3]:
df= df.drop_duplicates().reset_index()

In [4]:
df.head()

   index symbol        date release_time
0      0   SFIX  2019-10-01          amc
1      1    MKC  2019-10-01          bmo
2      2   UNFI  2019-10-01          amc
3      3  SSNLF  2019-10-01           --
4      4  DNZOY  2019-10-01           --

In [5]:
df.to_csv(r'earnings_dates.csv',index = None, header = True)

In [6]:
df['symbol'].value_counts()

ODT      2
ONCS     2
CYDY     2
NTRP     2
WGO      2
SFIX     2
WBA      2
UNT      2
COST     2
BYSI     2
ASH      2
PRTK     2
ATEYY    2
SMMT     2
DNZOY    2
KNCAY    2
RANJY    2
SEKEY    2
PAYX     2
DSCSY    2
ADRO     2
GWR      2
CTST     2
ASEKY    2
MDOMF    2
UNFI     2
YNDX     1
QRTEA    1
ZTO      1
EVTC     1
        ..
EQBK     1
ALT      1
ZNGA     1
IMXI     1
REG      1
INWK     1
ALRM     1
SCPL     1
MRTX     1
BPMC     1
FFG      1
ACCO     1
NBRV     1
OUT      1
SPHS     1
OCSL     1
BDGE     1
TS       1
AIV      1
JD       1
BXMT     1
PVL      1
AVH      1
CBRE     1
GWRS     1
MELI     1
MLNT     1
CELP     1
FFIN     1
SM       1
Name: symbol, Length: 3629, dtype: int64