In [10]:
import requests
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np

earnings = pd.read_csv('earnings_latest.csv')
ern = earnings[['symbol','date','eps']]
df = pd.DataFrame(ern)
df.sort_values('eps')
sym = df['symbol'].value_counts().index.tolist()
df.set_index('symbol',inplace=True)

In [3]:
symbols_dict = dict()
for symbol in sym:
    symbols_dict[symbol] = df.loc[symbol,:]

In [16]:
symbols_dict['TSLA']

              date   eps
symbol
TSLA    2010-08-04   NaN
TSLA    2010-11-09   NaN
TSLA    2011-02-15   NaN
TSLA    2011-05-04   NaN
TSLA    2011-08-03   NaN
TSLA    2011-11-02   NaN
TSLA    2012-02-15   NaN
TSLA    2012-05-09 -0.76
TSLA    2012-07-25 -0.89
TSLA    2012-11-05 -0.92
TSLA    2013-02-20 -0.65
TSLA    2013-05-08  0.12
TSLA    2013-08-07  0.04
TSLA    2013-11-05  0.13
TSLA    2014-02-19  0.37
TSLA    2014-05-07  0.12
TSLA    2014-07-31  0.13
TSLA    2014-11-05  0.02
TSLA    2015-02-11 -0.13
TSLA    2015-05-06 -0.36
TSLA    2015-08-05 -0.48
TSLA    2015-11-03 -0.58
TSLA    2016-02-10 -0.87
TSLA    2016-05-04 -0.57
TSLA    2016-08-03 -1.06
TSLA    2016-10-26  0.71
TSLA    2017-02-22 -0.69
TSLA    2017-05-03 -1.33
TSLA    2017-08-02 -1.33
TSLA    2017-11-01 -2.92
TSLA    2018-02-07 -3.04
TSLA    2018-05-02 -3.35
TSLA    2018-08-01 -3.06
TSLA    2018-10-24  2.90
TSLA    2019-01-30  1.93
TSLA    2019-04-24 -2.90
TSLA    2019-07-24 -1.12