In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('surprise_summary_clean.csv')

In [5]:
df.head()

  symbol  surp_score  beat_score
0      A    0.035496    0.888889
1     AA    0.132746    0.636364
2   AABA    0.039967    0.714286
3    AAC    0.041156    0.764706
4    AAL    0.144203    1.000000

In [6]:
df.describe()

        surp_score   beat_score
count  3843.000000  3843.000000
mean      0.736879     0.635658
std      13.064806     0.246287
min       0.000000     0.000000
25%       0.025890     0.500000
50%       0.053544     0.666667
75%       0.125443     0.821429
max     556.688471     1.000000